@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/AboutStyle.css" />

<aside>
    <h2 class="display-4">Welcome to the Store!</h2>
    <p>We are a discount resale store operating in both Winder and Cornelia, Georgia.</p>
    <p>About </p>

    <h2 class="display-4">Locations</h2>

    <p>458 Jefferson Hwy, Winder, GA 30680</p>


    <h2 class=" display-4">Contact Us</h2>
    <p>Phone: (678) 900-1649</p>
    <p>Hours of operation: Mon-Sat 10AM - 6PM</p>
    <p>Follow us on Facebook at <a href="https://www.facebook.com/TheStoreWinder/">The Store Winder</a>.</p>
</aside>